<section>
    <div>
        <h3>Post #<%=post.id %> </h3>
        <p><%=post.Text%></p>
        <div>
            <p>Comments: <%=post.CommentsCounter %></p>
            <p>Likes: <%=post.LikesCounter %></p>
        </div>
    </div>
    <div>
        <% post.recent_comment.each do |comment|%>
            <p><%= comment.user.Name %>: <%= comment.Text %> </p>
        <% end %>
    </div>
</section>
