<section>
    <h3>Post #<%= @post.id %> by <%= @user.Name %></h3>
    <div>
        <p>Comments: <%=@post.comments.count %></p>
        <p>Likes: <%=@post.likes.count %></p>
    </div>
    <p><%= @post.Text %></p>
</section>
<section>    
    <% @post.comments.order(created_at: :desc).each do |comment| %>
        <p> <%= comment.user.Name %>: <%= comment.Text %></p>
    <% end %>
</section>