<section>
    <h3>Post #<%= @post.id %> by <%= @user.Name %></h3>
    <div>
        <p>Comments: <%=@post.CommentsCounter %></p>
        <p>Likes: <%=@post.LikesCounter %></p>
    </div>
    <p><%= @post.Text %></p>
</section>
<section>    
    <% @post.recent_comment.each do |comment|%>
       <p><%= comment.user.Name %>: <%= comment.Text %> </p>
    <% end %>
</section>